.cabeçalho__menu-hamburguer{
    width: 25px;
    height: 25px;
    background-image: url("../imagens/Menu.svg"); /* ../ = serve para achar a pasta */
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo >.cabeçalho__menu-hamburguer {
    background-image: url("../imagens/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);

}

.cabeçalho {
    background: var(--branco);
    display: flex; /*coloca os itens um do lado do outro, igual display:inline-block */ 
    justify-content: space-between; /* separa os containers filhos, que são as divs "container"  */
    align-items: center;  /* Alinha os itens */
    position: relative;
}

.container {
    display: flex;
    align-items: center;  /* Alinha os itens */
}

.container__imagem {
    padding: 0.5em;

}

.lista-menu {
    display: none; /* deixa invisível o conteúdo */
    position: absolute;
    top: 100%;
    width: 60vw; /* pega 60% da largura da tela */
}

.container__botao:checked ~ .lista-menu { /* quando clicar no botão irá mostrar tudo da lista menu */
    display: block;  /* irá aparecer a lista-menu */
}

.lista-menu__titulo, .lista-menu__item {
    padding: 0.9em;
    background: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* prende a cor só onde tem texto */
    text-transform: uppercase;

}

.container__botao {
    display: none;  /* deixa invisível o conteúdo */
}

.container__titulo {
    display: none;  /* deixa invisível o conteúdo */
}

.opções {
    display: none;  /* deixa invisível o conteúdo */
}

.container__texto {
    display: none;  /* deixa invisível o conteúdo */
}

@media screen and (min-width: 1024px) {  /*para fazer a responsividade da pagina*/
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secudario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;  /* mostra o conteúdo de novo */
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link { 
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-trasparente {  
        display: none;  /* deixa invisível o conteúdo */
    }

    .cabeçalho__menu-hamburguer {
        display: none;  /* deixa invisível o conteúdo */
    }

    .opções__botão:checked ~ .lista-menu {
        display: block; /* mostra o conteúdo de novo */
        width: auto;
    }

    .opções__botão {
        display: none; /* deixa invisível o conteúdo */
    }

    .opções__botão:checked ~.opções__rotulo >.opções__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções__item {
        padding: 1em 1em;
    }

    .container__texto {
        display: none; /* deixa invisível o conteúdo */
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {  /*para fazer a responsividade da pagina*/
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto; /*por causa do flex a gente consegue colocar um margin-right: auto e isso vai ocupar todo o espaço que está sobrando*/
    }
    
    .container__texto {
        display: block;  /* mostra o conteúdo de novo */
    }
    
}